.menuItem{
width: 10rem;
height: auto;
padding: 2%;
text-align: center;
top: -50px;
transform: translateX(-50px) translateY(-50px);
animation-name: menuLate;
animation-duration: .5s;
animation-timing-function: ease-in;
animation-fill-mode: forwards;
}

.menuItem a{
    font-size: 1.5rem;
    text-decoration: none;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Epilogue', sans-serif;
}

@keyframes menuLate {
    100%{
        transform: translateX(0) translateY(0);
    }
}